{% comment %}
    Tags and Filters
{% endcomment %}

//Tags and Filters
{% assign variable  = 'Hello' %}
{{variable}}

//Filters
{% assign variable  = 5|plus: 5 %}
{{variable}}

//Arrays
{% assign array_string  = '1,2,3,4,5' %}
{% assign array  = array_string | split: ',' %}
{{ array }}

//For Loop
{% assign array_string  = 'Musa,John,Audu,Abdul,Zainab' %}
{% assign array  = array_string | split: ',' %}
<ul>
{% for name in array %}
  <li>{{ name }}</li>
{% endfor %}  
</ul>

//If statement
{% assign array_string  = 'Musa,John,Audu,Abdul,Zainab' %}
{% assign array  = array_string | split: ',' %}
<ul>
{% for name in array %}
  {% if name.size <= 4 %}
  <li>{{ name }}</li>
  {% endif %}
{% endfor %} 
</ul>

{% comment %}
    Using Objects (store data)
{% endcomment %}
{% assign collection = collections['featured-collection'] %}
{{ collection.title }}

<ul>
{% for product in collection.products %}
 <a href="{{ product.url }}"><li>{{ product.title }} - {{ product.price | money }} </li></a>  
{% endfor %}  
</ul>

//Using unless statement
{% assign collection = collections['featured-collection'] %}
{{ collection.title }}
<ul>
{% for product in collection.products %}
 <a href="{{ product.url }}"><li>{{ product.title }} - {{ product.price | money }} </li></a>  
  {% unless product.available %}
     SOLDOUT
    {% endunless %} 
{% endfor %}  
</ul>


{% comment %}
    Using Schema
{% endcomment %}

//add new stying from schema 
{% assign collection = collections['featured-collection'] %}
{{ collection.title }}

<ul>
{% for product in collection.products %}
 <a style="color:{{ settings.link_color }}" href="{{ product.url }}"><li>{{ product.title }} - {{ product.price | money }} </li>
   {% unless product.available %}
     SOLDOUT
    {% endunless %} 
 </a>  

{% endfor %}  
</ul>


//added new schema to settings.json
{
    "name": "Colors",
    "settings": [
      {
        "type": "color",
        "id": "link_color",
        "label": "Link Color",
        "default": "#000"
      }
    ]
  }

  //Liquid variables
All values in liquid are truthy except nil and false, example
{{% assign tobi = 'tobi' %}}

{% if tobi %}
  {{tobi}}
{% endif %}

//strip white space in liquid code
{%- -for value- -%} or {{- -for output- -}}

//switch case statement
{% assign handle = 'cake' %}
{% case handle %}
  {% when 'cake' %}
     This is a cake
  {% when 'cookie' %}
     This is a cookie
  {% else %}
     This is not a cake nor a cookie
{% endcase %
